h1{
    background-color: aqua;
    color: brown;
}
p{
    background-color: chartreuse;
    color: crimson;
}
h3{
    background-color: darkorchid;
    color: rgb(54, 15, 15);
}
body{
    background-color: rgb(105, 128, 255);
    text-align: center;
}